*{
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    margin: 0;
}

h1{
    text-align: center;
    padding: 15px;
}
div{
    padding: 10px;
    float: left;
    border: black solid 2px;
    background-color: rgb(126, 131, 136);
}
p{
    float: left;
    font-weight: bold;
    padding: 15px;
    margin: 0;
}

/* desktop */
@media (min-width: 992px){
    .chicken{
        padding: 0px;
        position: relative;
        margin: 1.5%;
        width: 30%;
    }
    .chicken div{
        background-color: pink;
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
    .beef{
        padding: 0px;   
        margin: 1.5%;
        position: relative;
        width: 30%;
    }
    .beef div{
        background-color: rgb(165, 60, 60);
        color: white;
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
    .sushi{
        padding: 0px;    
        width: 30%;
        position: relative;
        margin: 1.5%;
    }
    .sushi div{
        background-color: rgb(231, 201, 124);
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px){
    .chicken{
        padding: 0px;
        position: relative;
        margin: 2%;
        width: 46%;
    }
    .chicken div{
        background-color: pink;
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
    .beef{
        padding: 0px;   
        margin: 2%;
        position: relative;
        width: 46%;
    }
    .beef div{
        background-color: rgb(165, 60, 60);
        color: white;
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
    .sushi{
        padding: 0px;    
        width: auto;
        position: relative;
        clear: left;
        margin: 2%;
    }
    .sushi div{
        background-color: rgb(231, 201, 124);
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
}

/* phone */
@media (max-width: 767px){
    .chicken{
        padding: 0px;
        position: relative;
        margin: 15px;
        width: auto;
    }
    .chicken div{
        background-color: pink;
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
    .beef{
        padding: 0px;   
        margin: 15px;
        position: relative;
        width: auto;
    }
    .beef div{
        background-color: rgb(165, 60, 60);
        color: white;
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
    .sushi{
        padding: 0px;    
        width: auto;
        position: relative;
        margin: 15px;
    }
    .sushi div{
        background-color: rgb(231, 201, 124);
        position: relative;
        left: calc(100% - 148px);
        top: -2px;
        clear: left;
        width: 150px;
        text-align: center;
    }
}